h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  margin-top: 1.5em;
}

h1 {
  font-size: 32px;
}

table,
th,
td {
  border: black 1px solid;
}

body {
  width: 70%;
  margin: auto auto;
  text-align: justify;
}

figcaption {
  font-style: italic;
}

figure {
  float: right;
  clear: right;
}

ol a {
  text-decoration: none;
  color: black
}

ol {
  list-style-type: none;
  padding-left: 0;
}

.navigation {
  width: 50%;
  margin: auto auto;
}

ol>ol {
  padding-left: 40px;
}


li {
  margin: 5px 0px;
  padding: 5px;
}

.nav-title {
  width: max-content;
  margin: auto auto;
}

.tumen {
  width: 50%;
  height: 50%;
}

.no-show {
  display: none;
}
img {
  float: right;
}