@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: Roboto;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba(0, 119, 101, 1);
}

.conteiner {
  width: 60%;
  margin: auto auto;
}

.header_content {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.header_nav>a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

.header_nav>a:first-child {
  margin-left: 0px;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_logo {
  width: 9vw;
}

.main_slogan {
  padding: 160px 0px;
  background: url('img/slogan.png');
  margin-bottom: 20px;
}

.slogan_text {
  text-align: center;
  color: white;
  font-size: 60px;

}

.the_problem h1 {
  color: rgba(0, 119, 101, 1);
  text-align: center;
  font-size: 50px;
}

.the_problem p {
  font-size: 15px;
  margin: 16px 0px 0px 0px;
}

.the_problem p span {
  font-weight: 700;

}

.second_slogan {
  background: url('img/image.png');
  margin: 20px 0px;
}

.second_slogan_text {
  color: white;
  text-align: center;
  margin: 16 0 0 0;
  margin-bottom: 20;
  padding: 160px 250px;
  font-size: 50px;
  font-style: italic;
  font-weight: 500;
}

.intrTitle {
  color: rgba(0, 119, 101, 1);
  text-align: center;
  font-weight: 500;

}

.intrTitle {
  text-align: center;
  font-size: 60px;
  margin: 16px 0 0 0;
}